$favorite-button-color: get-color('primary', 'main');
$favorite-button-font-size: 36px;
$favorite-button-padding: $offset-y*0.5;
$favorite-button-color-hover: get-color('primary', 'dark');
$favorite-button-color-focus: $favorite-button-color;
