/* @theme: default; */

$favorite-button-padding: 0 !default;
$favorite-button-border-color: transparent;
$favorite-button-color: get-color('primary', 'base');
$favorite-button-icon-size: 20px !default;
$favorite-button-icon-wrap-size: 21px !default;
$favorite-button-size: 34px !default;
