{% block __oro_product_list_item__favorite_widget %}

    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-view': 'synoliafavorite/js/app/views/favorite-button-ajax',
        'data-page-component-options': {'product': product}|json_encode
    }) %}

    <div {{ block('block_attributes') }}>

        {{ block_widget(block) }}

        {% set heartSvg = is_favorite_product(product) ? 'heart' : 'heart-o' %}
        <button class="btn btn--link favorite-button-ajax favorite-button-ajax__icon">
            <i class="fa fa-{{ heartSvg }} favorite-button__icon" aria-hidden="true"></i>
        </button>

    </div>

{% endblock %}
