{% block _favorite_media_container_widget %}

    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-view': 'synoliafavorite/js/app/views/favorite-button-ajax',
        'data-page-component-options': { 'product': product }|json_encode
    }) %}

    <div {{ block('block_attributes') }}>

        {{ block_widget(block) }}

        <a class="btn favorite-button-ajax">
            {% if (favorite) %} ♥ {% else %} ♡ {% endif %}
        </a>

    </div>

{% endblock %}